# Default values for app-config.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

controller:
  enabled: true
  type: statefulset

# images
image_repository: image-registry.openshift-image-registry.svc:5000
image_name: simple-statefulset-service
image_namespace: labs-dev
image_version: latest

statefulset:
  serviceName: simple-statefulset-service
  replicas: 3


rollout:
  previewRoute:
    enabled: false
  bluegreen:
    enabled: false

image:
  repository: image-registry.openshift-image-registry.svc:5000
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
  # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
   limits:
      cpu: 500m
      memory: 1024Mi
   requests:
      cpu: 100m
      memory: 512Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

# OpenShift objects
route: false

# if false use a kube deployment instead
deploymentConfig: false
replicas:
  min: 2
  max: 15



# enable image stream in chart
is:
  enabled: true
# use the image specified above as tag (else tag overridden in pipeline say)
istag:
  enabled: true